{% extends "base.html" %}
{% block sidebar %}
<ul class="nav flex-column mb-1">
    <li class="nav-item active">
        <a href="/" class="nav-link"><i class="bi bi-person"></i>&nbsp;&nbsp; Home</a>
    </li>
    <li class="nav-item ">
        <a href="/query" class="nav-link"><i class="bi bi-search"></i>&nbsp;&nbsp; Query</a>
    </li>
</ul>
{% endblock %}
{% block main %}
<div class="d-flex justify-content-between px-4 mt-2">
    <h3>Chroma DB</h3>
    <span><b>Collection : {{col.name}}</b></span>
</div>
<div class="container">
    <div class="p-4">
        <!-- <h4>Add Document</h4> -->
        <form action="" method="post">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Document</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="doc" required></textarea>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="docid" class="form-label">ID</label>
                        <input type="text" class="form-control" name="docid" id="docid" placeholder="ID" required>
                    </div>
                    <button type="submit" class="btn btn-success">Add new document</button>
                </div>
            </div>
        </form>
    </div>
    <br>
    <table class="table table-bordered border-secondary">
        <thead>
            <th>ID</th>
            <th>Document</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{row.0}}</td>
                <td>
                    {{row.1|truncate(150)}}
                </td>
                <td><a href="/delete_document/{{col.name}}/{{row.0}}"><button class="btn btn-sm btn-danger">Delete</button></a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{% endblock %}