{% extends "base.html" %}
{% block sidebar %}
<ul class="nav flex-column mb-1">
    <li class="nav-item">
        <a href="/" class="nav-link"><i class="bi bi-person"></i>&nbsp;&nbsp; Home</a>
    </li>
    <li class="nav-item active">
        <a href="/query" class="nav-link"><i class="bi bi-search"></i>&nbsp;&nbsp; Query</a>
    </li>
</ul>
{% endblock %}
{% block main %}
<div class="d-flex justify-content-between px-4 mt-2">
    <h3>Chroma DB</h3>
</div>
<div class="container mt-5">
    <form class="row g-3" action="/query" method="post">
        <div class="col-sm-7">
            <input type="text" class="form-control" placeholder="query" name="text" id="text" required>
        </div>
        <div class="col-sm">
            <select name="col" id="col" class="form-select">
                {% for col in cols %}
                <option value="{{col.name}}">{{col.name}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="col-sm">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
    <br><br>
    <table class="table table-bordered border-secondary">
        <thead class="table-success border-secondary">
            <th>Results</th>
            <th>IDS</th>
            <th>Distance</th>
        </thead>
        <tbody>
            {% for col in data %}
            <tr>
                <td>{{col.0|truncate(200)}}</td>
                <td>{{col.1}}</td>
                <td>{{col.2}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{% endblock %}